
@{
    ViewBag.Title = "New SmsSurveyAnswers";
}

<form class=" form-group" method="post">

    <div>
        <label>Id</label>
        <input type="text" name="Id" />
    </div>
    <div>
        <label>Answer</label>
        <input type="text" name="Answer" />
    </div>
    <div>
        <label>SmsSurveyId</label>
        <input type="number" name="SmsSurveyId" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add</button>
    </div>

</form>